## Employee Classification

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('employee.csv.csv')

In [3]:
df.head()

,id,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,36,Travel_Frequently,599,Research & Development,24,3,Medical,1,4,...,80,1,10,2,3,10,0,7,8,0
1,1,35,Travel_Rarely,921,Sales,8,3,Other,1,1,...,80,1,4,3,3,4,2,0,3,0
2,2,32,Travel_Rarely,718,Sales,26,3,Marketing,1,3,...,80,2,4,3,3,3,2,1,2,0
3,3,38,Travel_Rarely,1488,Research & Development,2,3,Medical,1,3,...,80,0,15,1,1,6,0,0,2,0
4,4,50,Travel_Rarely,1017,Research & Development,5,4,Medical,1,2,...,80,0,31,0,3,31,14,4,10,1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1677 entries, 0 to 1676
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1677 non-null   int64
 1   Age                       1677 non-null   int64
 2   BusinessTravel            1677 non-null   object
 3   DailyRate                 1677 non-null   int64
 4   Department                1677 non-null   object
 5   DistanceFromHome          1677 non-null   int64
 6   Education                 1677 non-null   int64
 7   EducationField            1677 non-null   object
 8   EmployeeCount             1677 non-null   int64
 9   EnvironmentSatisfaction   1677 non-null   int64
 10  Gender                    1677 non-null   object
 11  HourlyRate                1677 non-null   int64
 12  JobInvolvement            1677 non-null   int64
 13  JobLevel                  1677 non-null   int64
 14  JobRole                   1677 non-null   object
 15  JobSatisfaction           1677 non-null   int64
 16  MaritalStatus             1677 non-null   object
 17  MonthlyIncome             1677 non-null   int64
 18  MonthlyRate               1677 non-null   int64
 19  NumCompaniesWorked        1677 non-null   int64
 20  Over18                    1677 non-null   object
 21  OverTime                  1677 non-null   object
 22  PercentSalaryHike         1677 non-null   int64
 23  PerformanceRating         1677 non-null   int64
 24  RelationshipSatisfaction  1677 non-null   int64
 25  StandardHours             1677 non-null   int64
 26  StockOptionLevel          1677 non-null   int64
 27  TotalWorkingYears         1677 non-null   int64
 28  TrainingTimesLastYear     1677 non-null   int64
 29  WorkLifeBalance           1677 non-null   int64
 30  YearsAtCompany            1677 non-null   int64
 31  YearsInCurrentRole        1677 non-null   int64
 32  YearsSinceLastPromotion   1677 non-null   int64
 33  YearsWithCurrManager      1677 non-null   int64
 34  Attrition                 1677 non-null   int64
dtypes: int64(27), object(8)
memory usage: 458.7+ KB

In [15]:
df.isnull().sum()

id                          0
Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
Attrition                   0
dtype: int64

In [18]:
df.describe()

,id,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
count,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,1677.0,1677.000000,1677.000000,1677.000000,1677.000000,...,1677.0,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000
mean,838.000000,36.036971,892.749553,8.683959,2.937984,1.0,2.757901,67.798450,2.782349,1.998807,...,80.0,0.721527,10.709600,2.732856,2.769827,6.806798,4.144305,1.978533,4.186643,0.119261
std,484.252517,8.507112,374.496259,7.826143,1.039078,0.0,1.086835,19.435928,0.650664,1.083065,...,0.0,0.771259,7.255135,1.145271,0.647721,5.883282,3.583398,3.045716,3.576189,0.324192
min,0.000000,18.000000,107.000000,1.000000,1.000000,1.0,1.000000,30.000000,1.000000,1.000000,...,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,419.000000,30.000000,589.000000,2.000000,2.000000,1.0,2.000000,51.000000,2.000000,1.000000,...,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000,0.000000
50%,838.000000,35.000000,890.000000,7.000000,3.000000,1.0,3.000000,69.000000,3.000000,2.000000,...,80.0,1.000000,9.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000,0.000000
75%,1257.000000,41.000000,1223.000000,12.000000,4.000000,1.0,4.000000,84.000000,3.000000,2.000000,...,80.0,1.000000,14.000000,3.000000,3.000000,9.000000,7.000000,2.000000,7.000000,0.000000
max,1676.000000,60.000000,3921.000000,29.000000,15.000000,1.0,4.000000,100.000000,4.000000,7.000000,...,80.0,3.000000,41.000000,6.000000,4.000000,41.000000,18.000000,15.000000,17.000000,1.000000

In [19]:
df.corr()

,id,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
id,1.000000,0.027563,0.003572,0.007871,-0.015997,NaN,0.044271,-0.018994,-0.016039,0.021245,...,NaN,-0.041337,-0.004288,0.010423,-0.006236,-0.020820,-0.020064,-0.002203,-0.005955,-0.006598
Age,0.027563,1.000000,0.039686,-0.049025,0.223545,NaN,0.029557,0.030628,0.002101,0.479015,...,NaN,0.064863,0.648047,0.014303,0.034138,0.306628,0.219880,0.204357,0.201601,-0.161044
DailyRate,0.003572,0.039686,1.000000,0.024168,-0.007035,NaN,0.006483,-0.001213,-0.026725,0.041369,...,NaN,0.021273,0.058044,-0.023140,0.025152,0.066057,0.057011,0.037035,0.040969,-0.022380
DistanceFromHome,0.007871,-0.049025,0.024168,1.000000,-0.011436,NaN,0.004959,0.006191,0.010035,-0.051008,...,NaN,0.039086,-0.033573,-0.000239,-0.017184,-0.023564,-0.006670,-0.004215,0.013749,0.024741
Education,-0.015997,0.223545,-0.007035,-0.011436,1.000000,NaN,-0.011189,0.014862,0.052390,0.085823,...,NaN,0.041722,0.153291,-0.011924,-0.009697,0.116723,0.094065,0.050483,0.109573,-0.084305
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EnvironmentSatisfaction,0.044271,0.029557,0.006483,0.004959,-0.011189,NaN,1.000000,0.010202,0.014878,0.021551,...,NaN,0.002093,0.022254,-0.028982,0.045387,0.009290,0.016942,0.028711,0.022839,-0.092426
HourlyRate,-0.018994,0.030628,-0.001213,0.006191,0.014862,NaN,0.010202,1.000000,-0.001867,-0.019059,...,NaN,0.058745,-0.024953,0.039878,0.016693,-0.062826,-0.063928,-0.063522,-0.074527,-0.037280
JobInvolvement,-0.016039,0.002101,-0.026725,0.010035,0.052390,NaN,0.014878,-0.001867,1.000000,0.003865,...,NaN,0.028960,0.001896,-0.018822,0.008476,-0.003354,0.007081,0.015706,0.009519,-0.139929
JobLevel,0.021245,0.479015,0.041369,-0.051008,0.085823,NaN,0.021551,-0.019059,0.003865,1.000000,...,NaN,0.019602,0.762163,-0.029599,0.014067,0.528175,0.401296,0.382727,0.400732,-0.137238
JobSatisfaction,-0.002511,-0.009273,-0.037459,0.026309,-0.030686,NaN,-0.049272,-0.024347,0.035129,-0.022297,...,NaN,0.010442,-0.033450,0.016980,-0.001117,-0.010760,-0.023463,0.000448,-0.025521,-0.061010
MonthlyIncome,-0.005224,0.470758,0.027375,-0.061019,0.081054,NaN,0.021460,-0.015572,0.001476,0.909961,...,NaN,0.016397,0.740914,-0.030449,0.004926,0.534779,0.390755,0.380748,0.388551,-0.126896
MonthlyRate,0.036047,0.010959,-0.013332,0.020542,0.007133,NaN,-0.013395,-0.018454,-0.009055,0.036769,...,NaN,-0.031242,0.013895,0.027302,0.006030,0.043030,0.044616,0.022270,0.008855,-0.005484
NumCompaniesWorked,-0.022619,0.300044,-0.017337,-0.031303,0.092789,NaN,-0.041971,0.060282,-0.005984,0.116201,...,NaN,0.039441,0.225408,0.001161,-0.001899,-0.121760,-0.118767,-0.056973,-0.118254,0.037127
PercentSalaryHike,-0.036811,-0.060012,-0.020007,0.036970,-0.025858,NaN,-0.043687,0.014730,0.056760,-0.102938,...,NaN,0.068272,-0.078471,-0.007657,-0.004655,-0.071398,-0.039019,-0.064797,-0.053053,-0.031571
PerformanceRating,-0.018226,-0.021206,-0.045213,0.039206,0.010790,NaN,-0.051305,0.018960,0.015324,-0.054049,...,NaN,0.047734,-0.020909,-0.005980,-0.032411,-0.011138,-0.005429,-0.007869,0.002029,0.013666
RelationshipSatisfaction,0.018472,0.056115,0.001315,-0.011868,-0.005253,NaN,-0.035629,-0.035430,0.014666,0.020189,...,NaN,-0.043151,0.031884,-0.019042,-0.005967,0.028267,0.009141,0.033449,0.035264,-0.087537
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.041337,0.064863,0.021273,0.039086,0.041722,NaN,0.002093,0.058745,0.028960,0.019602,...,NaN,1.000000,0.022540,-0.018073,0.014941,0.008517,0.038513,-0.034551,0.009553,-0.194018
TotalWorkingYears,-0.004288,0.648047,0.058044,-0.033573,0.153291,NaN,0.022254,-0.024953,0.001896,0.762163,...,NaN,0.022540,1.000000,-0.049842,0.001131,0.649943,0.478402,0.421619,0.498813,-0.138740
TrainingTimesLastYear,0.010423,0.014303,-0.023140,-0.000239,-0.011924,NaN,-0.028982,0.039878,-0.018822,-0.029599,...,NaN,-0.018073,-0.049842,1.000000,-0.008138,-0.066817,-0.069982,-0.042526,-0.058765,-0.018595
WorkLifeBalance,-0.006236,0.034138,0.025152,-0.017184,-0.009697,NaN,0.045387,0.016693,0.008476,0.014067,...,NaN,0.014941,0.001131,-0.008138,1.000000,-0.030465,-0.008817,-0.014604,-0.022398,-0.045365
YearsAtCompany,-0.020820,0.306628,0.066057,-0.023564,0.116723,NaN,0.009290,-0.062826,-0.003354,0.528175,...,NaN,0.008517,0.649943,-0.066817,-0.030465,1.000000,0.780552,0.614448,0.791816,-0.127120
YearsInCurrentRole,-0.020064,0.219880,0.057011,-0.006670,0.094065,NaN,0.016942,-0.063928,0.007081,0.401296,...,NaN,0.038513,0.478402,-0.069982,-0.008817,0.780552,1.000000,0.533471,0.751466,-0.133466
YearsSinceLastPromotion,-0.002203,0.204357,0.037035,-0.004215,0.050483,NaN,0.028711,-0.063522,0.015706,0.382727,...,NaN,-0.034551,0.421619,-0.042526,-0.014604,0.614448,0.533471,1.000000,0.535068,-0.038496
YearsWithCurrManager,-0.005955,0.201601,0.040969,0.013749,0.109573,NaN,0.022839,-0.074527,0.009519,0.400732,...,NaN,0.009553,0.498813,-0.058765,-0.022398,0.791816,0.751466,0.535068,1.000000,-0.124712
Attrition,-0.006598,-0.161044,-0.022380,0.024741,-0.084305,NaN,-0.092426,-0.037280,-0.139929,-0.137238,...,NaN,-0.194018,-0.138740,-0.018595,-0.045365,-0.127120,-0.133466,-0.038496,-0.124712,1.000000

In [22]:
df.shape

(1677, 35)

In [4]:
x=df.drop(['Attrition','id'],axis=1)
y=df[['Attrition']]

In [5]:
x=pd.get_dummies(x,drop_first=True)

In [16]:
x

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,36,599,24,3,1,4,42,3,1,4,...,1,0,0,0,0,0,0,1,0,1
1,35,921,8,3,1,1,46,3,1,1,...,0,0,0,0,0,0,1,1,0,0
2,32,718,26,3,1,3,80,3,2,4,...,0,0,0,0,0,1,0,0,0,0
3,38,1488,2,3,1,3,40,3,2,1,...,0,0,0,0,0,0,0,1,0,0
4,50,1017,5,4,1,2,37,3,5,1,...,0,1,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1672,30,945,1,3,1,4,73,3,3,3,...,0,0,0,0,0,1,0,0,1,0
1673,32,1303,2,3,1,1,48,3,1,2,...,0,0,0,0,1,0,0,1,0,0
1674,29,1184,24,3,1,2,36,2,1,1,...,0,0,0,0,0,0,0,1,0,1
1675,36,441,9,2,1,2,48,4,2,3,...,0,0,0,0,0,1,0,0,0,0
1676,36,1141,20,3,1,3,35,3,1,3,...,1,0,0,0,0,0,0,0,1,0

In [7]:
from sklearn.ensemble import RandomForestClassifier
r = RandomForestClassifier(n_estimators = 30, oob_score = True, max_features = 5, max_depth = 30)
r.fit(x, y)
y_pred = r.predict(x)

C:\Users\unlu-\AppData\Local\Temp\ipykernel_9192\2474923061.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  r.fit(x, y)

In [8]:
r.score(x, y)

0.9988073941562313